/* 전체 페이지 설정 */
body {
    font-family: 'Nanum Pen Script', Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* 로그인 컨테이너 */
.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #f2f2f2;
}

/* 로그인 래퍼 */
.wrap-login100 {
    width: 390px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 77px 55px 33px 55px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

/* 로그인 폼 */
.login100-form {
    width: 100%;
}

/* 로그인 제목 */
.login100-form-title {
    display: block;
    font-size: 50px;
    color: #333;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 30px;
}

/* 입력 그룹 */
.input-group {
    margin-bottom: 20px;
}

/* 입력 그룹 라벨 */
.input-group label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    font-size: 30px;
    color: #666;
}

/* 입력 그룹 인풋 */
.input-group input {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* 버튼 컨테이너 */
.container-login100-form-btn {
    display: flex;
    justify-content: space-between; /* 두 버튼 사이에 간격을 줍니다 */
    width: 100%; /* 부모 컨테이너의 전체 너비를 차지하도록 설정 */
}

/* 로그인 버튼, 회원가입 버튼 */
.login100-form-btn, .register-btn {
    flex: 1; /* 두 버튼이 동일한 크기를 가지도록 설정 */
    margin: 5px; /* 버튼 사이의 간격 */
    padding: 10px 20px;
    font-size: 30px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease;
    font-family: 'Nanum Pen Script', sans-serif; /* 폰트 적용 */
}

/* 로그인 버튼 스타일 */
.login100-form-btn {
    background: linear-gradient(135deg, #21d4fd, #b721ff);
}

.login100-form-btn:hover {
    background: linear-gradient(135deg, #b721ff, #21d4fd);
}

/* 회원가입 버튼 스타일 */
.register-btn {
    background: #9aa3d3; /* 회원가입 버튼은 진한 녹색으로 설정 */
}

.register-btn:hover {
    background: #0b1b77; /* 회원가입 버튼 호버 시 더 진한 녹색으로 변경 */
}